$cream: #d8bfa0;
$black: #000;
$black-night: #040305;
$sky-night-blue: #0E062B;
$black-2: #2c2c2c;
$gray: #D9D9D9;
$white: #fff;
$accent-white-34: rgba(255, 255, 255, 0.34);
$accent-white-63: rgba(255, 255, 255, 0.63);
$accent-white-79: rgba(255, 255, 255, 0.79);