._color--white {
  color: $white;
}
._color--cream {
  color: $cream;
}
._color--black {
  color: $black;
}

.h-full {
  height: 100%;
}
.h-half {
  height: 50%;
}

.rounded-md {
  border-radius: 0.75rem;
}

._bg--blur {
  backdrop-filter: blur(6.5px);
}
