.color--white {
  color: $white;
}
.color--cream {
  color: $cream;
}
.color--black {
  color: $black;
}


.h-full {
    height: 100%;
}
.h-half {
    height: 50%;
}

.rounded-md {
    border-radius: .75rem;
}