@import "colors";
@import "fonts";
@import "utilities";

html,
body {
  height: 100%;
}
body {
  background: url(../../images/bg.png) center right no-repeat, $sky-night-blue;
  &._bg--2 {
    background: url(../../images/bg-2.png) top center;
  }
  background-size: cover;
  &._bg--city,
  &._bg--nickname {
    background: url(../../images/bg-cadastro-cidade.png) left bottom no-repeat,
      url(../../images/bg-2.png) top center no-repeat;
    background-size: contain, cover;
    &._bg--nickname {
      background-image: url(../../images/bg-cadastro-cidade.png),
        url(../../images/bg-2.png);
    }
  }
  &._bg--time {
    background: url(../../images/bg-horario-nascimento.png) center bottom
        no-repeat,
      url(../../images/bg-2.png) top center no-repeat;
    background-size: contain, cover;
  }
}
* {
  &::-webkit-scrollbar {
    appearance: none;
    width: 8px;
  }
  &:not(._scrollbar--hidden) {
    &::-webkit-scrollbar {
      border-radius: 0.5rem;
      background: $gray;
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
      width: 1px;
      border-radius: 0.5rem;
    }
  }
}
input::placeholder {
  color: $accent-white-63;
}
.btn-primary {
  border: none;
  color: $black-2;
  &,
  &:active {
    background-color: $cream;
  }
  &:hover {
    background: $cream;
  }
}

.select-born-container {
  position: relative;
  .select-born {
    appearance: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.63);
    color: rgba(255, 255, 255, 0.63);
    font-weight: 500;
    font-size: 0.95rem;
    background-color: $accent-white-34;

    option {
      color: $black-2;
    }
  }
  &.month {
    .select-born {
      padding-left: 2.45rem;
    }
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.75rem;
      display: block;
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      background: url(../../images/calendary.svg) center no-repeat;
      background-size: contain;
    }
  }
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    display: block;
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    background: url(../../images/arrow-down-list.svg) center no-repeat;
    background-size: contain;
  }
}

.line-with-star {
  .__line {
    height: 1px;
    background: $cream;
  }
}

// Roulete
.roulette-wrapper {
  position: relative;
  background: #ccc;
  height: 720px;
  width: 720px;
}

#spin-button {
  position: absolute;
}

.roulette-wrapper .top-image {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  z-index: 777;
}

.roulette-wrapper .center-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.roulette-wrapper canvas {
  position: absolute;
  border-radius: 50%;
}

.form-check {
  .form-check-input {
    border-color: $cream;
    background: none;
    box-shadow: none;
    &:checked {
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 2px;
        margin: auto;
        background: $cream;
      }
    }
  }
}
.loading-bar {
  height: 0.95rem;
  background: $gray;
  @media only screen and (min-width: 768px) {
    height: 1.25rem;
  }
}
// informacao.html
.gender {
  .gender-option {
    justify-content: space-between;
    .gender-label {
      height: 6.5rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      input {
        display: none;
      }
      &[for="male"] {
        background-image: url(../../images/male-gender.png);
      }
      &[for="female"] {
        background-image: url(../../images/female-gender.png);
      }
    }
  }
}
// email.html
.input-email {
  background: url(../../images/email.svg) no-repeat center left 1rem;
  background-size: 1.275rem;
  padding-left: 3.25rem !important;
}