@import "colors";
@import "fonts";
@import "utilities";

html,
body {
  height: 100%;
}
body {
  background: url(../../images/bg.png) center no-repeat;
  background-size: cover;
}
.title {
    font-weight: 400;
    color: $cream;
}