@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Strickland Keafney";
  src: url(../../fonts/Strickland\ Keafney.otf); }
* {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

.title {
  font-weight: 400;
  color: #d8bfa0; }

.title,
.btn-primary {
  font-family: "Strickland Keafney"; }

.h-full {
  height: 100%; }

.h-half {
  height: 50%; }

.rounded-md {
  border-radius: 0.75rem; }

._bg--blur {
  backdrop-filter: blur(6.5px); }

._bg-blur-md {
  backdrop-filter: blur(11px); }

._border--white {
  border: 1px solid rgba(255, 255, 255, 0.34) !important; }

._color--white {
  color: #fff !important; }

._color--cream {
  color: #d8bfa0; }

._color--black {
  color: #000; }

._color--white-63 {
  color: rgba(255, 255, 255, 0.63); }

._text--upper {
  text-transform: uppercase; }

._text-justify {
  text-align: justify; }

._text--14 {
  font-size: 14px; }

._bg--white-34 {
  background-color: rgba(255, 255, 255, 0.34) !important; }

html,
body {
  height: 100%; }

body {
  background: url(../../images/bg.png) center right no-repeat, #0E062B;
  background-size: cover; }
  body._bg--2 {
    background: url(../../images/bg-2.png) top center; }
  body._bg--city, body._bg--nickname {
    background: url(../../images/bg-cadastro-cidade.png) left bottom no-repeat, url(../../images/bg-2.png) top center no-repeat;
    background-size: contain, cover; }
    body._bg--city._bg--nickname, body._bg--nickname._bg--nickname {
      background-image: url(../../images/bg-cadastro-cidade.png), url(../../images/bg-2.png); }
  body._bg--time {
    background: url(../../images/bg-horario-nascimento.png) center bottom no-repeat, url(../../images/bg-2.png) top center no-repeat;
    background-size: contain, cover; }

*::-webkit-scrollbar {
  appearance: none;
  width: 8px; }
*:not(._scrollbar--hidden)::-webkit-scrollbar {
  border-radius: 0.5rem;
  background: #D9D9D9; }
*:not(._scrollbar--hidden)::-webkit-scrollbar-thumb {
  background: #000;
  width: 1px;
  border-radius: 0.5rem; }

input::placeholder {
  color: rgba(255, 255, 255, 0.63); }

.btn-primary {
  border: none;
  color: #2c2c2c; }
  .btn-primary, .btn-primary:active {
    background-color: #d8bfa0; }
  .btn-primary:hover {
    background: #d8bfa0; }

.select-born-container {
  position: relative; }
  .select-born-container .select-born {
    appearance: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.63);
    color: rgba(255, 255, 255, 0.63);
    font-weight: 500;
    font-size: 0.95rem;
    background-color: rgba(255, 255, 255, 0.34); }
    .select-born-container .select-born option {
      color: #2c2c2c; }
  .select-born-container.month .select-born {
    padding-left: 2.45rem; }
  .select-born-container.month::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: url(../../images/calendary.svg) center no-repeat;
    background-size: contain; }
  .select-born-container::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    display: block;
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    background: url(../../images/arrow-down-list.svg) center no-repeat;
    background-size: contain; }

.line-with-star .__line {
  height: 1px;
  background: #d8bfa0; }

.roulette-wrapper {
  position: relative;
  background: #ccc;
  height: 720px;
  width: 720px; }

#spin-button {
  position: absolute; }

.roulette-wrapper .top-image {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  z-index: 777; }

.roulette-wrapper .center-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.roulette-wrapper canvas {
  position: absolute;
  border-radius: 50%; }

.form-check .form-check-input {
  border-color: #d8bfa0;
  background: none;
  box-shadow: none; }
  .form-check .form-check-input:checked {
    background: #d8bfa0; }

/*# sourceMappingURL=style.css.map */
